* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	display: grid;
	grid-template-rows: 1fr 8fr;
}

.title {
	display: grid;
	place-items: end center;
}

h1,
h3 {
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: xx-large;
	text-align: center;
}

#play-area {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 5%;
	gap: 3%;
	align-items: center;
	justify-items: center;
}

.board {
	background-color: rgb(37, 37, 236);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	height: 450px;
	width: 450px;
	border: 5px solid rgb(96, 94, 94);
	border-radius: 1%;
	cursor: pointer;
}

.player-cell, .cpu-cell, .hit, .miss {
	border: 1px solid white;
}

.hit, .miss {
	background-repeat: no-repeat;
}

.hit {
	background-image: url(./images/circle-medium.svg);
}

.miss {
	background-image: url(./images/alpha-x.svg);
}