* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	display: grid;
	grid-template-rows: 1fr 8fr;
}

.title {
	display: grid;
	place-items: end center;
}

h1,
h3,
.button {
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: xx-large;
	text-align: center;
}

#play-area {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 5%;
	gap: 3%;
	align-items: center;
	justify-items: center;
}

.board {
	background-color: rgb(40, 122, 222);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	height: 450px;
	width: 450px;
	border: 5px solid rgb(96, 94, 94);
	border-radius: 1%;
	cursor: pointer;
}

.player-cell, .cpu-cell, .hit, .miss {
	border: 1px solid white;
}

.hit, .miss,.sunk {
	background-repeat: no-repeat;
}

.hit {
	background-image: url(./images/circle-medium.svg);
}

.miss {
	background-image: url(./images/alpha-x.svg);
}

.sunk {
	background-image: url(./images/circle-medium-green.svg);
}

#modal-bg-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s opactity 0,5s;
}

.modal {
    background-color: white;
	border: 5px solid rgb(96, 94, 94);
    height: 40%;
    width: 40%;
    display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
    border-radius: 1%;
	gap: 20%;
}

.slider {
	background-color: white;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
	gap: 20%;
	z-index: 1;
	position: absolute;
  	right: 0%;
	  transform: translateX(100%);
	  -webkit-transform: translateX(100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

.button {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    min-height: 5vh;
    min-width: 40vh;
	background-color: rgb(96, 94, 94);
	color: white;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size:x-large;
	transition: all .2s ease-in-out; 
}

.button:hover{
	transform: scale(1.1); 
}